.body{
    background-color: black;
    z-index: 1;
}

.h1{
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.chess{
    top: 200px;
    left: 20%;
    position: absolute;
    margin: 10px;
    border: 15px pink solid;
    z-index: 2;
}

.chess .squad{
    width: 90px;
    height: 90px;
    display: inline-table;
    border: 5px dotted white;
    margin: -5px;
    z-index: 3;
    top: 0px;
    left: 0px;
}

.color1{
    background-color: dodgerblue;
    animation: iris 5s ease infinite;
}

@keyframes iris {
    0% {background-color: red;}
    25% {background-color: rgb(255, 225, 0);}
    50% {background-color: rgb(0, 255, 102);}
    0% {background-color: rgb(27, 106, 252);}
}

.color2{
    background-color: rgb(255, 0, 119);
    animation: iris2 5s ease infinite 2s;
}

@keyframes iris2 {
    0% {background-color: rgb(85, 0, 255);}
    25% {background-color: rgb(255, 0, 230);}
    50% {background-color: rgb(0, 255, 208);}
    0% {background-color: rgb(252, 79, 27);}
}

.squad .ride{
    width: 70px;
    height: 70px;
    background-image: url(../imgs/unicorn2semfundo.png);
    background-size: contain;
    position: relative;
    animation: horse 20s infinite;
    margin: 10px;
    z-index: 4;
    
}

@keyframes horse {
    0% {top: 0px; left: 0px;} /*ta começando da casa errada*/
   4% {top: 90px; left: 0px; }
   8% {top: 90px; left: 90px; }
   12% {top: 180px; left: 90px; }
   16% {top: 180px; left: 180px; }
   20% {top: 290px; left: 180px;}
   24% {top: 290px; left: 290px; }
   28% {top: 380px; left: 290px; }
   32% {top: 380px; left: 380px; }
   36% {top: 470px; left: 380px;}
   40% {top: 470px; left: 470px; }
   44% {top: 560px; left: 470px; }
   48% {top: 560px; left: 560px; }
   52% {top: 670px; left: 560px; }


/*regresso*/

64% {top: 560px;  left: 560px;  }
68% {top: 560px;  left: 470px;  }
72% {top: 470px; left: 470px;  }
76% {top: 470px; left: 380px;  }
80% {top: 380px; left: 380px; }
82% {top: 380px; left: 290px;  }
84% {top: 290px; left: 290px;  }
88% {top: 290px; left: 180px;  }
92% {top: 180px; left: 180px; }
94% {top: 180px; left: 90px;  }
96% {top: 90px; left: 90px;  }
98% {top: 90px; left: 0px;  }
100% {top: 0px; left: 0px;  }

}

.squad .walk{
    width: 70px;
    height: 70px;
    background-image: url(../imgs/unicornsemfundo.png);
    background-size: contain;
    position: relative;
    animation: unicorn 20s infinite;
    margin: 10px;
    z-index: 4;

}

@keyframes unicorn{
   6% {top: 0px; left: 0px;}
   12% {top: -190px; left: 0px;}
   18% {top: -190px; left: -95px;}
   24% {top: -380px; left: -95px; }
   30% {top: -380px; left: -275px; }
    36% {top: -570px; left: -275px;}
    42% {top: -570px; left: -470px;}
    48% {top: -665px; left: -470px;}

    /*regresso*/

    54% {top: -665px; left: -470px;}
    60% {top: -570px; left: -470px;}
    66% {top: -570px; left: -275px;}
    72% {top: -380px; left: -275px; }
    78% {top: -380px; left: -95px; }
    86% {top: -190px; left: -95px;}
    94% {top: -190px; left: 0px;}
    100% {top: 0px; left: 0px;}
 
}

.rainbow{
    color: transparent;
    font-size: 130px;
    letter-spacing: 5px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 53%;
    top: 12%;
    background: linear-gradient(
        rgb(0, 255, 170) 20%,
        rgb(0, 234, 255) 20%,
        rgb(0, 102, 255) 40%,
        rgb(0, 21, 255) 40%,
        rgb(76, 0, 255) 60%,
        rgb(140, 0, 255) 60%,
        rgb(255, 0, 255) 80%,
        rgb(255, 0, 115) 80%
    );
    -webkit-text-stroke: 0.04em #ffffff;
    -webkit-background-clip: text;
            background-clip: text;
    line-height: 1.1em;
    animation: rain 50s linear infinite;
}

@keyframes rain{
    100%{
        background-position: 0 30em;
    }
}